@charset "UTF-8";

// Mixins
@import "../bower_components/materialize/sass/components/prefixer";
@import "../bower_components/materialize/sass/components/mixins";

@mixin desktop (){
	@media (min-width: 992px) { @content; }
}

// Variables;
@import "../bower_components/materialize/sass/components/variables";

// Generic
body {
	height: 100vh;
}

input[type=text], input[type=password], input[type=email], input[type=date], textarea {
	// margin: 0;
	padding: 0 10px;
	box-sizing: border-box;
	padding-left: 25px;
	&:focus {
		border-bottom: 1px solid #9e9e9e;
		-webkit-box-shadow: none;
		-moz-box-shadow:none;
		box-shadow: none;
	}
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	padding-left: 25px;
}



//--------------------------------------------------------------------------------------------------------------------------------------//

//Elements
.logo {
	height: 35vh;
	img {
		height: 80px;
	}
}

.main-nav-bar {
	width: 100%;
	height: 50px;
	background-color: #ff7f00;
	line-height: inline;
	padding: 10px;


	img {
		height: 30px;
	}

	.home-icon {
		width: 20%;
		float: left;
	}

	.logo-icon {
		float: left;
		width: 60%;
		text-align: center;
	}

	.setup-icon {
		float: right;
		img {
		 float: right;
		}
		width: 20%;
	}
}


.btn-large {
	height: 45px;
	line-height: 45px;
}

.app-container {
	padding: 25px;
	margin: 0 auto;
	max-width: 500px;

}

.main-button {
	width: 100%;
	background-color: #ff7f00;
}

.h2 {
	text-align: center;
	color: #ff7f00;
	font-size: 30px;
	line-height: 2.212rem;
	font-weight: 500;
}

// Home Page
.home-page {
	.app-container {
		max-width: 500px;

		.small-details {
			margin: 0 0 15px 0;
			.forgot {
				float: right;
				font-size: 1rem;
				line-height: 25px;
			}
		}
		.external-signup {
			.btn-large {
				width: 48%;
				img {
					width: auto;
					height: 45px;
				}
			}
			.google {
				background-color: #dc4a38;

			}
			.facebook {
				background-color: #3a589e;
				float: right;
			}
		}
	}
	.create-an-account {
		text-align: center;
	}
}


//Sign uppage

.sign-up-page {
	.logo {
		height: 15vh;
	}
}

//user home page

.user-home-page {

	.btn-large {
		height: 65px;
		line-height: 65px;

	}

	.user-account-details {
		background-color: rgb(230, 230, 230);
		height: 200px;
		margin-bottom: 50px;
		.app-container {
			height: 200px;
		}
		.user-image {
			float: left;
			background-image: url("../img/default.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 100%;
			border: 5px solid #ff7f00;
			height: 80px;
			width: 80px;
			@include desktop {
				height: 100px;
				width: 100px;
			}
		}
	}
	.view {
		background-color: #FD5894;
	}
	.diary {
		background-color: #FF5476;
	}

}


//quiz intro page

.quiz-intro-page{

	.p {
		text-align: center;
		height: 320px;
		margin-bottom: 30px;
		text-overflow: hidden;
	}



}


