@charset "UTF-8";

// Mixins
@import "../bower_components/materialize/sass/components/prefixer";
@import "../bower_components/materialize/sass/components/mixins";

// Variables;
@import "../bower_components/materialize/sass/components/variables";

// Generic
input[type=text], input[type=password], input[type=email], input[type=date], textarea {
	// margin: 0;
	padding: 0 10px;
	box-sizing: border-box;
	padding-left: 25px;
	&:focus {
		border-bottom: 1px solid #9e9e9e;
		-webkit-box-shadow: none;
		-moz-box-shadow:none;
		box-shadow: none;
	}
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	padding-left: 25px;
}

//--------------------------------------------------------------------------------------------------------------------------------------//

//Elements 
.logo {
	height: 35vh;
	img {
		height: 80px;
	}
}

.btn-large {
	height: 45px;
	line-height: 45px;
}

.account-wrapper {
	padding: 25px;
	margin: 0 auto;
	max-width: 500px;

}

.main-button {
	width: 100%;
	background-color: #ff7f00;
}

// Home Page
.home-page {
	.account-wrapper {
		max-width: 500px;

		.small-details {
			margin: 0 0 15px 0;
			.forgot {
				float: right;
				font-size: 1rem;
				line-height: 25px;
			}
		}
		.external-singup {
			.btn-large {
				width: 48%;	
				img {
					width: auto;
					height: 45px;
				}
			}
			.google {
				background-color: #dc4a38;

			}
			.facebook {
				background-color: #3a589e;
				float: right;
			}
		}
	}
	.create-an-account {
		text-align: center;
	}
}


//Sign uppage

.sign-up-page {
	.logo {
		height: 15vh;
	}

	

	
}

//user home page

.user-home-page {

	.main-nav-bar {
		width: 100%;
		height: 50px;
		background-color: #ff7f00;
	}

	.btn-large {
		height: 65px;
		line-height: 65px;

	}

	.user-account-details {
		background-color: rgb(230, 230, 230);
		height: 200px;
		margin-bottom: 50px;


	}
}


 